@charset "utf-8";
/*                reset
======================================================= */
body, h1, h2, h3, h4, h5, table, th, td, ul, li, ol, dl, dt, dd, form, p, table, th, td {
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  list-style-type: none;
  font-size: 100%;
}

body {
  color: #333333;
  background-color: #ffffff;
  font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
  line-height: 1.3;
  font-size: 14px;
  -webkit-text-size-adjust: none;
}

p {
  line-height: 1.5;
}

/* for IE6 */
* html body {
  font-size: 100%;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
a img {
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

input, textArea, select, button {
  background: none;
  margin: 0px;
  outline: none;
  padding: 0px;
  font-weight: normal;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  list-style-type: none;
  font-size: 14px;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*                link
======================================================= */
a:link {
  color: #333333;
  text-decoration: none;
}

a:visited {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #333333;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
a:hover img {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  opacity: .8;
}

/*                common
======================================================= */
.clear:after {
  content: '';
  display: block;
  clear: both;
}

.clear_both {
  clear: both;
}

.hidden {
  overflow: hidden;
}

/*                leyout
======================================================= */
#wrapper {
  overflow: hidden;
  position: relative;
}

#main_area {
  padding-top: 63px;
}

.main_width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1020px;
}
@media only screen and (max-width: 1024px) {
  .main_width {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 768px) {
  .main_width {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 640px) {
  .main_width {
    padding: 0 15px;
  }
}

.cont_width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 882px;
}
.cont_width .contIn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
}

/*                タイトル装飾
======================================================= */
.content_title {
  position: relative;
  border-bottom: solid 6px #000;
}
.content_title h1, .content_title h2 {
  line-height: 1;
}
.content_title h1 img, .content_title h2 img {
  display: inline-block;
  height: 40px;
  width: auto;
}
@media only screen and (max-width: 640px) {
  .content_title h1 img, .content_title h2 img {
    height: 36px;
  }
}
@media only screen and (max-width: 480px) {
  .content_title h1 img, .content_title h2 img {
    height: 32px;
  }
}

/*                テキスト装飾
======================================================= */
.text_right {
  text-align: right;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.lato {
  font-family: "Lato", "arial", sans-serif;
}

.mintyo {
  font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}

ul.slash_list li {
  display: inline-block;
}
ul.slash_list li:after {
  content: "/";
  margin-left: 0.85em;
  margin-right: 0.85em;
}

/*                table
======================================================= */
table {
  width: 100%;
  border-collapse: separate;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr td,
table tr th {
  text-align: left;
  padding: 0px;
}

.ie7 table tr th,
.ie7 table tr td {
  position: relative;
}

/* 擬似テーブル */
.table {
  display: table;
  width: 100%;
}
.table .tableCell {
  display: table-cell;
  vertical-align: top;
}
@media only screen and (max-width: 640px) {
  .table.sp_brake {
    display: block;
  }
  .table.sp_brake .tablecell {
    display: block;
    width: 100%;
  }
}

/*                pageTop
======================================================= */
.page_top {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1000;
  display: none;
}
.page_top a {
  display: block;
}
@media only screen and (max-width: 640px) {
  .page_top {
    bottom: 0px;
    right: 0;
  }
  .page_top img {
    width: 36px;
    height: 36px;
  }
}

/*                カラム
======================================================= */
.row {
  margin-left: -14px;
  margin-right: -14px;
  overflow: hidden;
  margin-bottom: -14px;
}
@media only screen and (max-width: 1024px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}
@media only screen and (max-width: 768px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}
.row img {
  width: 100%;
}
.row .col1, .row .col2, .row .col3, .row .col4, .row .col5, .row .col6, .row .col7, .row .col8, .row .col9, .row .col10, .row .col11, .row .col12 {
  float: left;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 14px;
}
@media only screen and (max-width: 1024px) {
  .row .col1, .row .col2, .row .col3, .row .col4, .row .col5, .row .col6, .row .col7, .row .col8, .row .col9, .row .col10, .row .col11, .row .col12 {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (max-width: 768px) {
  .row .col1, .row .col2, .row .col3, .row .col4, .row .col5, .row .col6, .row .col7, .row .col8, .row .col9, .row .col10, .row .col11, .row .col12 {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.row .tab1, .row .tab2, .row .tab6 {
  float: left;
  min-height: 1px;
  padding-left: 14px;
  padding-right: 14px;
}
@media only screen and (max-width: 1024px) {
  .row .tab1, .row .tab2, .row .tab6 {
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media only screen and (max-width: 768px) {
  .row .tab1, .row .tab2, .row .tab6 {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.square {
  overflow: hidden;
}
.square .col1, .square .col2, .square .col3, .square .col4, .square .col5, .square .col6, .square .col7, .square .col8, .square .col9, .square .col10, .square .col11, .square .col12 {
  float: left;
  min-height: 1px;
  padding: 0;
  margin-bottom: 0;
}

.col12 {
  width: 100%;
}

.col11 {
  width: 91.66666667%;
}

.col10 {
  width: 83.33333333%;
}

.col9 {
  width: 75%;
}

.col8 {
  width: 66.66666667%;
}

.col7 {
  width: 58.33333333%;
}

.col6 {
  width: 50%;
}

.col5 {
  width: 41.66666667%;
}

.col4 {
  width: 33.33333333%;
}

.col3 {
  width: 25%;
}

.col2 {
  width: 16.66666667%;
}

.col1 {
  width: 8.33333333%;
}

@media only screen and (max-width: 1024px) {
  .pc1024Col12 {
    width: 100%;
  }

  .pc1024Col6 {
    width: 50%;
  }

  .pc1024Col3 {
    width: 25%;
  }

  .pc1024Col2 {
    width: 16.66666667%;
  }
}
@media only screen and (max-width: 768px) {
  .tab12 {
    width: 100%;
  }

  .tab6 {
    width: 50%;
  }

  .tab4 {
    width: 33.33333333%;
  }
}
@media only screen and (max-width: 767px) {
  .sp12 {
    width: 100%;
  }

  .sp6 {
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .sps12 {
    width: 100%;
  }

  .sps6 {
    width: 50%;
  }
}
/*                iframeのレスポン化
======================================================= */
.frame_respon .fb_iframe_widget,
.frame_respon .fb_iframe_widget span,
.frame_respon .fb_iframe_widget iframe[style] {
  width: 100%important;
}

.gmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.gmap iframe,
.gmap object,
.gmap embed {
  border: none !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*                ヘッダー・サイド・フッター
======================================================= */
/*                header
======================================================= */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}
#header.fixheader {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
#header > .main_width {
  display: flex;
  align-items: center;
}
#header > .main_width #head_logo {
  padding: 5px 5px 0;
  margin-right: 20px;
}
@media only screen and (max-width: 640px) {
  #header > .main_width #head_logo {
    width: 70px;
    padding: 10px 5px 0 0;
    margin-right: 20px;
  }
}
@media only screen and (min-width: 641px) {
  #header > .main_width #gnavi ul {
    display: flex;
  }
  #header > .main_width #gnavi ul li a, #header > .main_width #gnavi ul li > span {
    letter-spacing: 0.025em;
    position: relative;
  }
  #header > .main_width #gnavi ul li a:hover, #header > .main_width #gnavi ul li > span:hover {
    text-decoration: none;
  }
  #header > .main_width #gnavi ul li + li {
    margin-left: 2.15em;
  }
}
@media only screen and (min-width: 641px) and (min-width: 641px) {
  #header > .main_width #gnavi ul li a:before, #header > .main_width #gnavi ul li > span:before {
    position: absolute;
    left: 0;
    bottom: -0.25em;
    width: 0%;
    height: 1px;
    content: "";
    display: block;
    background-color: #00448f;
    transition: 400ms;
  }
  #header > .main_width #gnavi ul li a:hover:before, #header > .main_width #gnavi ul li > span:hover:before {
    width: 100%;
    transition: 400ms;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  #header > .main_width #gnavi ul li + li {
    margin-left: 2.0em;
  }
}
@media only screen and (max-width: 640px) {
  #header > .main_width #gnavi {
    display: none;
  }
}
#header .sp_menu_btn {
  position: absolute;
  right: 20px;
  top: 17px;
  cursor: pointer;
}
@media only screen and (min-width: 641px) {
  #header .sp_menu_btn {
    display: none;
  }
}
#header .sp_menu_btn .sp-btn-cont {
  position: relative;
  display: block;
  height: 22px;
  width: 22px;
  top: 3px;
}
#header .sp_menu_btn .sp-btn-cont span {
  position: absolute;
  display: block;
  width: 22px;
  height: 4px;
  right: 0;
  background: #00438e;
  transition: all 0.4s;
}
#header .sp_menu_btn .sp-btn-cont span.border01 {
  top: 0px;
}
#header .sp_menu_btn .sp-btn-cont span.border02 {
  top: 8px;
}
#header .sp_menu_btn .sp-btn-cont span.border03 {
  top: 16px;
}
#header .sp_menu_btn.active .sp-btn-cont span.border01 {
  top: 0;
  transform: translateY(7px) rotate(45deg);
}
#header .sp_menu_btn.active .sp-btn-cont span.border02 {
  opacity: 0;
}
#header .sp_menu_btn.active .sp-btn-cont span.border03 {
  top: 11px;
  transform: translateY(-4px) rotate(-45deg);
}

/*                sidebar
======================================================= */
/*                footer
======================================================= */
#footer {
  text-align: center;
}
#footer .ft_logo {
  padding-top: 3.25em;
  padding-bottom: 1.2em;
}
#footer .ft_logo img {
  display: block;
  margin: auto;
  width: auto;
  height: auto;
}
@media only screen and (max-width: 640px) {
  #footer .ft_logo {
    padding-top: 2.5em;
    padding-bottom: 0.75em;
  }
  #footer .ft_logo img {
    width: 180px;
  }
}
#footer .ft_copy {
  text-align: center;
  background-color: #000;
  padding: 0.65em 1em 0.75em;
}
#footer .ft_copy p {
  color: #fff;
  font-weight: bold;
}
#footer .ft_copy p > span {
  display: inline-block;
  margin: 0 0.25em;
}
@media only screen and (max-width: 640px) {
  #footer .ft_copy p {
    font-size: 85.7%;
  }
}

#sp_menu {
  position: fixed;
  left: 100%;
  top: 57px;
  transition: 600ms;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  z-index: 9;
}
@media only screen and (min-width: 641px) {
  #sp_menu {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  #sp_menu.sp_menu_open {
    left: 0;
    transition: 600ms;
  }
}
#sp_menu ul {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-right: -1px;
  border-top: solid 1px #00438e;
  border-bottom: solid 1px #00438e;
  position: relative;
}
#sp_menu ul:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #00438e;
  content: "";
  display: block;
}
#sp_menu ul li {
  width: 50%;
  border-bottom: solid 1px #00438e;
  border-right: solid 1px #00438e;
}
#sp_menu ul li a, #sp_menu ul li > span {
  display: block;
  letter-spacing: 0.15em;
  padding: 0.95em 15px 0.9em;
  position: relative;
}
#sp_menu ul li a:hover, #sp_menu ul li > span:hover {
  text-decoration: none;
}

/*                news_list
======================================================= */
.news_list ul li {
  border-bottom: solid 2px #000;
}
.news_list ul li > a, .news_list ul li > div {
  display: flex;
  align-items: center;
  padding: 1.6em 0;
}
.news_list ul li > a:hover, .news_list ul li > div:hover {
  text-decoration: none;
}
.news_list ul li > a .date, .news_list ul li > div .date {
  font-size: 85.7%;
  letter-spacing: 0.1em;
  width: 9em;
  min-width: 9em;
}
@media only screen and (max-width: 1024px) {
  .news_list ul li > a .date, .news_list ul li > div .date {
    width: 8em;
    min-width: 8em;
  }
}
.news_list ul li > a .cat, .news_list ul li > div .cat {
  width: 9.15em;
  min-width: 9.15em;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .news_list ul li > a .cat, .news_list ul li > div .cat {
    width: 7.15em;
    min-width: 7.15em;
  }
}
.news_list ul li > a .cat > div, .news_list ul li > div .cat > div {
  min-width: 6.95em;
  display: inline-block;
  text-align: center;
  font-size: 78.6%;
  letter-spacing: 0.125em;
  font-weight: bold;
  color: #fff;
  height: 23px;
  padding: 0.6em 0.05em 0;
  background-color: #000;
  line-height: 1;
  position: relative;
}
.news_list ul li > a .cat > div > span, .news_list ul li > div .cat > div > span {
  position: relative;
  z-index: 1;
}
.news_list ul li > a .cat > div:before, .news_list ul li > div .cat > div:before {
  position: absolute;
  right: -6px;
  top: 0;
  content: "";
  background-color: #000;
  display: block;
  width: 23px;
  height: 23px;
  transform: rotate(-45deg);
}
.news_list ul li > a .cat > div.new, .news_list ul li > div .cat > div.new {
  background-color: #ff9a32;
}
.news_list ul li > a .cat > div.new:before, .news_list ul li > div .cat > div.new:before {
  background-color: #ff9a32;
}
.news_list ul li > a .cat > div.press, .news_list ul li > div .cat > div.press {
  background-color: #00438e;
}
.news_list ul li > a .cat > div.press:before, .news_list ul li > div .cat > div.press:before {
  background-color: #00438e;
}
.news_list ul li > a .cat > div.info, .news_list ul li > div .cat > div.info {
  background-color: #00b8b0;
}
.news_list ul li > a .cat > div.info:before, .news_list ul li > div .cat > div.info:before {
  background-color: #00b8b0;
}
@media only screen and (max-width: 640px) {
  .news_list ul li > a, .news_list ul li > div {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75em 0;
    position: relative;
  }
  .news_list ul li > a .cat, .news_list ul li > div .cat {
    position: relative;
    top: -0.1em;
  }
  .news_list ul li > a .text, .news_list ul li > div .text {
    width: 100%;
    margin-top: 0.75em;
  }
}
@media only screen and (min-width: 641px) {
  .news_list ul li > a {
    position: relative;
    opacity: 1;
    transition: 400ms;
  }
  .news_list ul li > a:hover {
    opacity: 0.8;
    transition: 400ms;
  }
}
.news_list + .btn_cont {
  padding-top: 1em;
}

.btn_cont .btn {
  display: block;
  margin: auto;
  max-width: 16em;
  background-color: #ff9a32;
  transition: 200ms;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  padding: 0.75em 0.75em 0.5em;
  text-align: center;
  cursor: pointer;
}
.btn_cont .btn:hover {
  text-decoration: none;
}
@media only screen and (min-width: 641px) {
  .btn_cont .btn:hover {
    background-color: #ff6732;
    transition: 800ms;
  }
}
.btn_cont .btn > span {
  color: #fff;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0.15em;
  text-indent: 0.15em;
}
